<div id="addFormValidation">

</div>
<div class="mb-3">
    <label for="addBloodCode" class="form-label">Kode <span style="color: #ff3e1d;">*</span></label>
    <input type="text" class="form-control" id="addBloodCode" placeholder="Kode">
    <div class="mt-1"><span id="addCodeValidation" style="color: #ff3e1d;"></span></div>
</div>
<div class="mb-1">
    <label for="addBloodDesc" class="form-label">Deskripsi</label>
    <input type="text" class="form-control" id="addBloodDesc" placeholder="Deskripsi">
</div>