<div id="editFormValidation">

</div>
<div class="mb-3">
    <label for="editBloodCode" class="form-label">Kode <span style="color: #ff3e1d;">*</span></label>
    <input type="text" class="form-control" id="editBloodCode" placeholder="Kode">
    <div class="mt-1"><span id="editCodeValidation" style="color: #ff3e1d;"></span></div>
</div>
<div class="mb-1">
    <label for="editBloodDesc" class="form-label">Deskripsi</label>
    <input type="text" class="form-control" id="editBloodDesc" placeholder="Deskripsi">
</div>