<form id="locationForm">
    <div class="mb-3">
        <label class="form-label" for="levelLocationId">Level Lokasi</label>
        <select class="form-select" name="levelLocationId" id="levelLocationId" 
            onchange="populateParentByLevel()" required>
            <option value="" selected disabled hidden>Choose here</option>
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label" for="parentId">Wilayah</label>
        <select class="form-select" name="parentId" id="parentId" required>
            <option value="" selected disabled hidden>Choose here</option>
        </select>
    </div>
    <div class="mb-3">
        <label for="locationName" class="form-label">Nama</label>
        <input type="text" class="form-control" id="locationName" placeholder="Nama Lokasi" required>
        <span id="locationNameError" class="text-danger"></span>
    </div>
</form>