<script th:fragment="script">
  $("#addRoleButton").click(function (e) {
    e.preventDefault();
    setBaseModal(
      "Tambah Role",
      `
  <form id="roleForm">
      <div class="mb-3">
          <label for="roleName" class="form-label">Nama*</label>
          <input type="text" class="form-control save-role" id="addRoleName" placeholder="Nama Role">
          <div id="addNameError" class="invalid-feedback"></div>

      </div>
      <div class="mb-1s">
          <label for="roleCode" class="form-label">Kode*</label>
          <input type="text" class="form-control save-role" id="addRoleCode" placeholder="Kode Role">
          <div id="addCodeError" class="invalid-feedback"></div>

      </div>
  </form>
  `,
      `
  <button data-bs-dismiss="modal" type="button" class="btn btn-warning" data-bs-dismiss="modal" id="cancelSaveButton">
      Batal
  </button>
  <button id="saveRoleBtn" type="button" class="btn btn-primary ">Simpan</button>
  `
    );

    showBaseModal();
  });

  $(document).on("click", "#saveRoleBtn", function (e) {
    e.preventDefault();
    const button = $(this);
    const cancelButton = $("#cancelSaveButton");
    // validation
    const errors = {};
    const roleCode = $("#addRoleCode").val().trim();
    const roleName = $("#addRoleName").val().trim();

    if (!roleName) {
      errors["#addNameError"] = "Nama role tidak boleh kosong.";
    }
    if (!roleCode) {
      errors["#addCodeError"] = "Kode role tidak boleh kosong.";
    }

    if (Object.keys(errors).length > 0) {
      for (const [selector, message] of Object.entries(errors)) {
        $(selector).text(message).show();

        setTimeout(() => {
          $(selector).hide();
        }, 3000);
      }
      return;
    }

    const dataJson = JSON.stringify({
      name: roleName,
      code: roleCode,
    });
    button.addClass("disabled");
    cancelButton.addClass("disabled");
    $.ajax({
      type: "post",
      url: ROLE_URL,
      data: dataJson,
      contentType: "application/json",
      success(response) {
        $("#addRoleCode").val("");
        $("#addRoleName").val("");
        $('#baseModal').modal('hide');
        loadSearchResult(currentPage, rowPerPage, sortDirection, searchQuery);
        setAndShowSuccessModal("Berhasil menyimpan data!");
      },
      error() {
        $("#errorModal").modal("show");
      },
    });
    button.removeClass("disabled");
    cancelButton.removeClass("disabled");
  });
</script>