<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main-without-search}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Admin | Role</title>
</head>

<body>
  <div layout:fragment="content">
    <div class="content-wrapper">
      <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row g-2 mb-2">
          <div class="col-12 col-lg-4">
            <input type="text" id="searchRole" class="form-control" placeholder="Cari Role" />
          </div>
          <div class="col-12 col-lg">
            <button id="addRoleButton" type="button" class="btn btn-primary w-100">
              <span class="tf-icons bx bx-add-to-queue"></span> Tambah Role
            </button>
          </div>
          <div class="col-12 col-lg">
            <div class="btn-group w-100">
              <button type="button" class="btn btn-outline-primary dropdown-toggle w-100" data-bs-toggle="dropdown"
                aria-expanded="false" data-bs-auto-close="false">
                Urutkan Data
              </button>
              <ul class="dropdown-menu w-100">
                <li>
                  <h6 class="dropdown-header text-uppercase">
                    Berdasarkan Nama:
                  </h6>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <div class="form-check sort-data">
                      <input type="radio" checked class="form-check-input" name="orderTypeRadio" id="AZOrderCheckbox"
                        data-sort="asc" />
                      <label class="form-check-label w-100" for="AZOrderCheckbox">
                        A-Z
                      </label>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <div class="form-check sort-data">
                      <input type="radio" class="form-check-input" name="orderTypeRadio" id="ZAOrderCheckbox"
                        data-sort="desc" />
                      <label class="form-check-label w-100" for="ZAOrderCheckbox">
                        Z-A
                      </label>
                    </div>
                  </a>
                </li>

                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <button type="button" class="btn btn-primary w-100" id="applySorting">
                      Terapkan
                    </button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg">
            <div class="btn-group w-100">
              <button type="button" class="btn btn-outline-primary dropdown-toggle w-100" data-bs-toggle="dropdown"
                aria-expanded="false" data-bs-auto-close="false">
                Data Per Halaman
              </button>
              <ul class="dropdown-menu w-100">
                <li>
                  <h6 class="dropdown-header text-uppercase">
                    Urutkan berdasarkan:
                  </h6>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <div class="form-check">
                      <input type="radio" checked name="row-per-page" class="form-check-input" id="rowPerPage5"
                        data-row="5" />
                      <label class="form-check-label w-100" for="rowPerPage5">
                        5
                      </label>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <div class="form-check">
                      <input type="radio" name="row-per-page" class="form-check-input" id="rowPerPage10" />
                      <label class="form-check-label w-100" for="rowPerPage10" data-row="10">
                        10
                      </label>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <div class="form-check">
                      <input type="radio" name="row-per-page" class="form-check-input" id="rowPerPage15"
                        data-row="15" />
                      <label class="form-check-label w-100" for="rowPerPage15">
                        15
                      </label>
                    </div>
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider" />
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <div class="d-flex align-items-center">
                      <div class="form-check me-2">
                        <input type="radio" name="row-per-page" class="form-check-input" id="customRowPerPageCheckbox"
                          data-page="3" />
                      </div>
                      <div class="flex-grow-1">
                        <input type="number" value="3" class="form-control" id="customRowPerPageInputNumber" />
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="javascript:void(0);">
                    <button type="button" class="btn btn-primary w-100" id="applyRowPerPage">
                      Terapkan
                    </button>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <h5 class="card-header"><strong>Role </strong></h5>
          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th>Nama</th>
                  <th>Kode</th>
                  <!-- <th>Diubah Oleh</th> -->
                  <th class="text-center">Aksi</th>
                </tr>
              </thead>
              <tbody class="table-border-bottom-0 justify-content-end" id="role-table"></tbody>
            </table>
          </div>
          <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end mx-3 mt-2" id="paginationContainer"></ul>
          </nav>
        </div>
      </div>
    </div>
    <th:block
      th:replace="~{fragments/BaseModal::modal(class='modal-dialog-centered', modalBackdrop='static', modalKeyboard='false')}">
    </th:block>
  </div>
  <th:block layout:fragment="pageAbove">
    <th:block th:replace="~{fragments/ErrorModal::modal(class='modal-sm')}"></th:block>
    <th:block th:replace="~{fragments/SuccessModal::modal(class='modal-sm')}"></th:block>
    <th:block th:replace="~{fragments/DeleteConfirmationModal::modal}"></th:block>
  </th:block>
  <th:block layout:fragment="pageBottom">
    <script th:src="@{/js/role.js}"></script>
    <script th:replace="~{pages/role/addForm::script}"></script>
    <script th:replace="~{pages/role/editForm::script}"></script>
    <script th:replace="~{pages/role/deleteModal::script}"></script>
  </th:block>
</body>

</html>