<!DOCTYPE html>
<html lang="id" layout:decorate="~{layouts/main-without-search-doctor}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctor Profile</title>
  <style>
    .container-fluid {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-bottom: 20px;
    }

    .tab-pane{
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      margin-top: -47px;
      margin-left: -24px;
    }
    </style>

</head>
<body>
  <div layout:fragment="content">
    <div class="content-wrapper">
      <div class="container-xxl flex-grow-1 container-p-y">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="javascript:void(0);">Beranda</a>
            </li>
            <li class="breadcrumb-item active">
              <a href="http://localhost:9002/doctor-profile">Profil</a>
            </li>
          </ol>
        </nav>
        <div class="row">
          <div class="col-md-4">
            <div class="container-fluid text-center">
              <div id="doctor-image">

              </div><br>
              <!-- <img alt="Profile picture of dr. Tatjana Saphira, Sp.A" height="100" src="https://storage.googleapis.com/a1aa/image/5jC7fzEHSBSSWCUv6TsZvnqOCL8dTlJKisaLYepLxqxAHOsTA.jpg" width="100", style="width: 100px; height: 100px; border-radius: 50%;"> -->
              <div id="doctor-name">

              </div>
              <div id="doctor-specialization">

              </div><br>
              <div class="stars" style="color: #FFD700;">
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
                <i class='bx bxs-star'></i>
              </div>
              <hr>
              <button class="btn btn-primary">Janji</button>
              <button class="btn btn-secondary">Obrolan / Konsultasi</button>
            </div>
            <div class="container-fluid">
              <div class="section-title", style="background-color: #eaf4fc; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
                Tentang Saya
              </div>
              
              <h6>Tindakan medis</h6>
              <ul>
                <li>
                 <div id="doctor-treatment">

                 </div>
                </li>
              </ul>
              
              <h6>Riwayat Praktek</h6>
              <div id="doctor-office">

              </div>

              <h6>Pendidikan</h6>
              <div id="doctor-education">

              </div>
            </div>
          </div>
          <div class="col-md-8">
            <ul class="nav nav-tabs">
              <li class="nav-item" style="user-select: none;">
                <p class="nav-link" onclick="showSpesialisasi(event, this)">Spesialisasi</p>
              </li>
              <li class="nav-item" style="user-select: none;">
                <p class="nav-link active" onclick="showTindakan(event, this)">Tindakan</p>
              </li>
              <li class="nav-item" style="user-select: none;">
                <p class="nav-link" onclick="showAktifitas(event, this)">Aktifitas</p>
              </li>
              <li class="nav-item" style="user-select: none;">
                <p class="nav-link" onclick="showKonsultasi(event, this)">Konsultasi</p>
              </li>
              <li class="nav-item" style="user-select: none;">
                <p class="nav-link" onclick="showPengaturan(event, this)">Pengaturan</p>
              </li>
            </ul>
            
            <div class="tab-content mt-3">
              
              <div class="tab-pane fade show" id="spesialisasi">
                <!-- Konten Spesialisasi -->
              </div>

              <div class="tab-pane fade show active" id="tindakan">
                <!-- Konten Tindakan -->
                <h2>Tindakan</h2>
                <p>Ini adalah konten Tindakan</p>
              </div>

              <div class="tab-pane fade show" id="aktifitas">
                <!-- Konten Aktifitas -->
                <h2>Aktifitas</h2>
                <p>Ini adalah konten Aktifitas</p>
              </div>

              <div class="tab-pane fade show" id="konsultasi">
                <!-- Konten Konsultasi -->
                <h2>Konsultasi</h2>
                <p>Ini adalah konten Konsultasi</p>
              </div>
              
              <div class="tab-pane fade show" id="pengaturan">
                <!-- Konten Pengaturan -->
                <h2>Pengaturan</h2>
                <p>Ini adalah konten Pengaturan</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <th:block th:replace="~{fragments/BaseModal::modal(class='modal-dialog-centered')}"></th:block>
    <script src="js/doctorProfile.js"></script>
  </div>
</body>
</html>