<form id="roleAccessForm">
    <div class="mb-3">
        <label for="roleAccessName" class="form-label">Nama</label>
        <input type="text" class="form-control" id="roleAccessName" placeholder="Nama Role">
        <span id="roleAccessNameError" class="text-danger"></span>
    </div>
    <div class="mb-1s">
        <label for="roleAccessCode" class="form-label">Kode</label>
        <input type="text" class="form-control" id="roleAccessCode" placeholder="Kode Role">
        <span id="roleAccessCodeError" class="text-danger"></span>
    </div>
</form>
