<th:block th:fragment="style">
  <style>
    #forgotPasswordButton:hover {
      text-decoration: underline;
      color: #0056b3;
    }
  </style>
</th:block>

<th:block th:fragment="script">
  <script>
    const resetPasswordRequest = {
      email: null,
      otp: null,
      newPassword: null,
      confirmPassword: null,
    };

    function clearResetPasswordRequest() {
      resetPasswordRequest.email = null;
      resetPasswordRequest.otp = null;
      resetPasswordRequest.newPassword = null;
      resetPasswordRequest.confirmPassword = null;
    }

    const tempResetPasswordUserInput = {
      email: null,
      otp: null,
      newPassword: null,
      confirmPassword: null,
    };

    let globalActivedForgotPasswordTab = {
      button: null,
      content: null,
    };

    $(document).on("click", "#forgotPasswordButton", function (e) {
      e.preventDefault();
      $("#baseModalTitle").text("");
      $("#baseModal").modal("hide");

      $("#baseModal").on("hidden.bs.modal", function () {
        $("#baseModalTitle").text("Lupa Password");

        $("#baseModalBody").html(`
<div class="nav-align-left">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item forgot-password">
      <button data-id="1" type="button" class="nav-link forgot-password active" role="tab" data-bs-toggle="tab" data-bs-target="#forgot-password-send-otp">Kirim OTP</button>
    </li>
    <li class="nav-item forgot-password">
      <button data-id="2" type="button" class="nav-link forgot-password disabled" role="tab" data-bs-toggle="tab" data-bs-target="#forgot-password-verify-email">Verifikasi Email</button>
    </li>
    <li class="nav-item forgot-password">
      <button data-id="3" type="button" class="nav-link forgot-password disabled" role="tab" data-bs-toggle="tab" data-bs-target="#forgot-password-set-new-password">Buat Password Baru</button>
    </li>
  </ul>
  
  <div class="tab-content p-3">
    <!-- Tab Kirim OTP -->
    <div data-id="1" class="tab-pane forgot-password fade show active" id="forgot-password-send-otp">
      <form>
        <div class="mb-3">
          <label for="forgotPasswordEmailInput" class="form-label">Email</label>
          <input type="email" class="form-control" id="forgotPasswordEmailInput" placeholder="Masukkan email Anda">
          <p class="error text-danger invisible fst-italic">error message</p>
        </div>
        <button id="sendOtpButton" class="btn btn-primary w-100">Kirim OTP</button>
      </form>
    </div>

    <!-- Tab Verifikasi Email -->
    <div data-id="2" class="tab-pane forgot-password fade" id="forgot-password-verify-email">
      <form>
        <div class="mb-3">
          <label for="forgotPasswordOtpInput" class="form-label">Kode OTP</label>
          <input type="text" class="form-control text-center" placeholder="Masukkan kode OTP" id="forgotPasswordOtpInput">
          <p class="error text-danger invisible fst-italic">error message</p>
          <div id="countdownTimerContainer" class="text-muted mt-2 d-flex justify-content-center">

          </div>
        </div>
        <button id="verifyOtpButton" type="button" class="btn btn-primary w-100">Verifikasi OTP</button>
      </form>
    </div>

    <!-- Tab Buat Password Baru -->
    <div data-id="3" class="tab-pane forgot-password fade" id="forgot-password-set-new-password">
      <form id="setNewPasswordForm">
          <div class="mb-3 position-relative">
              <label for="newPasswordInput" class="form-label">Password Baru</label>
              <div class="input-group">
                  <input type="password" class="form-control" id="newPasswordInput" placeholder="Masukkan password baru">
                  <span class="position-absolute end-0 top-50 translate-middle-y me-3">
                      <i class="bx bx-show" id="toggleNewPassword" style="cursor: pointer;"></i>
                  </span>
              </div>
              <div id="newPasswordErrorList" class="error text-danger small mt-1 invisible">
              </div>
          </div>

          <div class="mb-3 position-relative">
              <label for="confirmPasswordInput" class="form-label">Konfirmasi Password</label>
              <div class="input-group">
                  <input type="password" class="form-control" id="confirmPasswordInput" placeholder="Konfirmasi password baru">
                  <span class="position-absolute end-0 top-50 translate-middle-y me-3">
                      <i class="bx bx-show" id="toggleConfirmPassword" style="cursor: pointer;"></i>
                  </span>
              </div>
              <div id="confirmPasswordErrorList" class="error text-danger small mt-1 invisible">
              </div>
          </div>

          <button type="button" id="sendResetPassword" class="btn btn-primary w-100">Simpan Password Baru</button>
      </form>
    </div>
  </div>
</div>

    `);

        if (
          globalActivedForgotPasswordTab.button != null &&
          globalActivedForgotPasswordTab.content != null
        ) {
          moveTab(
            globalActivedForgotPasswordTab.button,
            globalActivedForgotPasswordTab.content
          );
        }

        $("#forgotPasswordEmailInput").val(
          tempResetPasswordUserInput.email || ""
        );
        $("#forgotPasswordOtpInput").val(tempResetPasswordUserInput.otp || "");
        $("#newPasswordInput").val(
          tempResetPasswordUserInput.newPassword || ""
        );
        $("#confirmPasswordInput").val(
          tempResetPasswordUserInput.confirmPassword || ""
        );

        $("#baseModal").modal("show");

        $(this).off("hidden.bs.modal");
      });
    });

    $(document).on("input", "#forgotPasswordEmailInput", function () {
      tempResetPasswordUserInput.email = $(this).val();
    });
    $(document).on("input", "#forgotPasswordOtpInput", function () {
      tempResetPasswordUserInput.otp = $(this).val();
    });
    $(document).on("input", "#newPasswordInput", function () {
      tempResetPasswordUserInput.newPassword = $(this).val();
    });
    $(document).on("input", "#confirmPasswordInput", function () {
      tempResetPasswordUserInput.confirmPassword = $(this).val();
    });

    $(document).on("click", "#toggleNewPassword", function () {
      const passwordInput = $("#newPasswordInput");
      const icon = $(this);

      if (passwordInput.attr("type") === "password") {
        passwordInput.attr("type", "text");
        icon.removeClass("bx-show").addClass("bx-hide");
      } else {
        passwordInput.attr("type", "password");
        icon.removeClass("bx-hide").addClass("bx-show");
      }
    });

    $(document).on("click", "#toggleConfirmPassword", function () {
      const passwordInput = $("#confirmPasswordInput");
      const icon = $(this);

      if (passwordInput.attr("type") === "password") {
        passwordInput.attr("type", "text");
        icon.removeClass("bx-show").addClass("bx-hide");
      } else {
        passwordInput.attr("type", "password");
        icon.removeClass("bx-hide").addClass("bx-show");
      }
    });

    function moveTab(buttonSelector, contentForm) {
      $(".tab-pane").removeClass("active show");
      $(".nav-item.forgot-password button").removeClass("active");
      $(".nav-item.forgot-password button").addClass("disabled");

      $(buttonSelector).removeClass("disabled");
      $(buttonSelector).addClass("active");
      $(contentForm).addClass("active show");
    }

    let countdownDuration = 30; // 3 menit
    let countdownInterval;

    function startCountdown() {
      clearInterval(countdownInterval);
      let remainingTime = countdownDuration;

      countdownInterval = setInterval(function () {
        if (remainingTime <= 0) {
          clearInterval(countdownInterval);
          $("#countdownTimerContainer").html(`
                      <button id="resendOtpButton" class="btn btn-outline-primary" type="button">
                        Kirim ulang <i class="bx bx-revision">
                      </i></button>
          `);
        } else {
          let minutes = Math.floor(remainingTime / 60);
          let seconds = remainingTime % 60;
          seconds = seconds < 10 ? "0" + seconds : seconds;
          $("#countdownTimerContainer").text(
            "Kirim ulang kode OTP dalam: " + minutes + ":" + seconds
          );
          remainingTime--;
        }
      }, 1000);
    }

    $(document).on("click", "#resendOtpButton", function (e) {
      e.preventDefault();
      const button = $(this);
      const verifyOtpButton = $("#verifyOtpButton");
      verifyOtpButton.addClass("disabled");
      button.addClass("disabled");

      $.ajax({
        type: "post",
        url: BE_BASE_URL + "/auth/forgot-password",
        data: JSON.stringify({
          email: resetPasswordRequest.email,
        }),
        contentType: "application/json",
        success: function (response) {
          // show countdown
          startCountdown();
          verifyOtpButton.removeClass("disabled");
        },
        error(jqXHR, textStatus, errorThrown) {
          let message = "Mendapat error, coba lagi nanti";

          if (jqXHR.status == 404 || jqXHR.status == 429) {
            message = jqXHR.responseJSON.data;
          } else if (jqXHR.status == 500) {
            message = jqXHR.responseJSON.data.message;
          }
          setTimeout(() => {
            button.removeClass("disabled");
            verifyOtpButton.removeClass("disabled");

            $("#errorModalBody").html(`
            <p>${message}</p>
            `);
            $("#errorModal").modal("show");
          }, 1000);
        },
      });
    });

    function clearErrorValidationMessage() {
      $("form div .error").addClass("invisible");
      $("form div .error").text("");
    }

    function showValidationErrorMessage(jqElm, errorMessage) {
      jqElm.removeClass("invisible");
      jqElm.html(errorMessage);
      console.log("showed error");

      setTimeout(() => {
        jqElm.addClass("invisible");
        jqElm.text("error message");
      }, 5000);
    }

    $(document).on("click", "#sendOtpButton", function (e) {
      e.preventDefault();
      const button = $(this);
      const inputVal =
        $("#forgotPasswordEmailInput").val() || resetPasswordRequest.email;
      const validateErrorMessage = button.parent().find(".error");
      // from https://www.mailercheck.com/articles/email-validation-javascript
      const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

      if (inputVal == "") {
        showValidationErrorMessage(
          validateErrorMessage,
          "Email tidak boleh kosong"
        );
        return;
      }

      if (!emailPattern.test(inputVal)) {
        showValidationErrorMessage(
          validateErrorMessage,
          "Email tidak valid (contoh: @domain.com)"
        );
        return;
      }

      button.addClass("disabled");

      $.ajax({
        type: "post",
        url: BE_BASE_URL + "/auth/forgot-password",
        data: JSON.stringify({
          email: inputVal,
        }),
        contentType: "application/json",
        success: function (response) {
          resetPasswordRequest.email = inputVal;

          moveTab(
            ".nav-link.forgot-password[data-id=2]",
            ".tab-pane.forgot-password[data-id=2]"
          );
          globalActivedForgotPasswordTab.button =
            ".nav-link.forgot-password[data-id=2]";
          globalActivedForgotPasswordTab.content =
            ".tab-pane.forgot-password[data-id=2]";

          // show countdown
          startCountdown();
        },
        error(jqXHR, textStatus, errorThrown) {
          if (jqXHR.status == 404 || jqXHR.status == 429) {
            showValidationErrorMessage(
              validateErrorMessage,
              jqXHR.responseJSON.data
            );
          } else if (jqXHR.status == 500) {
            showValidationErrorMessage(
              validateErrorMessage,
              jqXHR.responseJSON.data.message
            );
          }
          setTimeout(() => {
            button.removeClass("disabled");
          }, 1000);
        },
      });
    });

    $(document).on("input", "#forgotPasswordOtpInput", function () {
      const $input = $(this);
      const value = $input.val();

      if (value.length > 6 || isNaN(value)) {
        $input.val(value.slice(0, 6).replace(/\D/g, ""));
      }
    });

    $(document).on("click", "#verifyOtpButton", function (e) {
      e.preventDefault();
      const button = $(this);
      const validateErrorMessage = button.parent().find(".error");

      const inputVal = $("#forgotPasswordOtpInput").val();
      if (inputVal == "") {
        showValidationErrorMessage(
          validateErrorMessage,
          "OTP tidak boleh kosong!"
        );
        return;
      }
      if (inputVal.length < 6) {
        showValidationErrorMessage(
          validateErrorMessage,
          "OTP terdiri dari 6 angka!"
        );
        return;
      }
      button.addClass("disabled");

      // jq ajax
      $.ajax({
        type: "post",
        url: BE_BASE_URL + "/auth/verify-otp",
        data: JSON.stringify({
          email: resetPasswordRequest.email,
          otp: inputVal,
        }),
        contentType: "application/json",
        success: function (response) {
          resetPasswordRequest.otp = inputVal;

          moveTab(
            ".nav-link.forgot-password[data-id=3]",
            ".tab-pane.forgot-password[data-id=3]"
          );
          globalActivedForgotPasswordTab.button =
            ".nav-link.forgot-password[data-id=3]";
          globalActivedForgotPasswordTab.content =
            ".tab-pane.forgot-password[data-id=3]";
        },
        error(jqXHR, textStatus, errorThrown) {
          if (jqXHR.status == 404 || jqXHR.status == 429) {
            showValidationErrorMessage(
              validateErrorMessage,
              jqXHR.responseJSON.data
            );
          } else if (jqXHR.status == 500) {
            showValidationErrorMessage(
              validateErrorMessage,
              jqXHR.responseJSON.data.message
            );
          }
          setTimeout(() => {
            button.removeClass("disabled");
          }, 1000);
        },
      });
    });

    $(document).on("click", "#sendResetPassword", function (e) {
      e.preventDefault();
      const $button = $(this);
      const $newPasswordInput = $("#newPasswordInput");
      const $confirmPasswordInput = $("#confirmPasswordInput");
      let newPasswordVal = $newPasswordInput.val();
      let confirmPasswordVal = $confirmPasswordInput.val();

      const newPasswordError = $("#newPasswordErrorList");
      const confirmPasswordError = $("#confirmPasswordErrorList");
      let newPasswordErrorList = [];

      if (newPasswordVal.length < 8) {
        newPasswordErrorList.push("Password minimal 8 karakter");
      }

      const lowerCasePattern = /.*[a-z].*/;
      if (!lowerCasePattern.test(newPasswordVal)) {
        newPasswordErrorList.push("Password minimal mengandung 1 huruf kecil");
      }
      const upperCasePattern = /.*[A-Z].*/;
      if (!upperCasePattern.test(newPasswordVal)) {
        newPasswordErrorList.push("Password minimal mengandung 1 huruf besar");
      }
      const numberPattern = /.*\d.*/;
      if (!numberPattern.test(newPasswordVal)) {
        newPasswordErrorList.push("Password minimal mengandung 1 angka");
      }

      const specialCharPattern = /.*\W.*/;
      if (!specialCharPattern.test(newPasswordVal)) {
        newPasswordErrorList.push(
          "Password minimal mengandung 1 spesial karakter"
        );
      }

      if (newPasswordErrorList.length > 0) {
        let errorMessage = '<ul class="m-0 p-0">';
        newPasswordErrorList.forEach((message) => {
          errorMessage += `<li class="small">${message}</li>`;
        });
        errorMessage += "</ul>";

        showValidationErrorMessage(newPasswordError, errorMessage);
        return;
      }
      let confirmPasswordErrorList = [];

      if (confirmPasswordVal.length == 0) {
        confirmPasswordErrorList.push("Konfirmasi password boleh kosong");
      }
      if (newPasswordVal !== confirmPasswordVal) {
        confirmPasswordErrorList.push(
          "Konfirmasi password harus sama dengan password"
        );
      }

      if (confirmPasswordErrorList.length > 0) {
        let errorMessage = '<ul class="m-0 p-0">';
        confirmPasswordErrorList.forEach((message) => {
          errorMessage += `<li class="small">${message}</li>`;
        });
        errorMessage += "</ul>";

        showValidationErrorMessage(confirmPasswordError, errorMessage);
        return;
      }

      $button.addClass("disabled");

      resetPasswordRequest.newPassword = newPasswordVal;
      resetPasswordRequest.confirmPassword = confirmPasswordVal;

      $.ajax({
        type: "post",
        url: BE_BASE_URL + "/auth/reset-password",
        data: JSON.stringify(resetPasswordRequest),
        contentType: "application/json",
        success: function (response) {
          $("#baseModal").modal("hide");
          $("#baseModalTitle").text("Reset Password");
          $("#baseModalBody").html(`
                      <p class="text-center fw-bold fs-5">Selamat password anda telah diperbarui</p>
                      `);
          $("#baseModal").on("hidden.bs.modal", function () {
            $("#baseModal").modal("show");
            $(this).off("hidden.bs.modal");
          });
        },
        error(jqXHR, textStatus) {
          let message = "Mendapat error, coba lagi nanti";
          console.log(jqXHR.responseJSON);

          if (jqXHR.status == 404 || jqXHR.status == 429) {
            message = jqXHR.responseJSON.data;
          } else if (jqXHR.status == 500) {
            message = jqXHR.responseJSON.data.message;
          }
          setTimeout(() => {
            $button.removeClass("disabled");
            $("#errorModalBody").html(`
            <p>${message}</p>
            `);
            $("#errorModal").modal("show");
          }, 1000);
        },
      });
    });
  </script>
</th:block>
