<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <th:block layout:fragment="pageAbove">
      <th:block th:replace="~{pages/landing/forgotPassword::style}"></th:block>
      <th:block
        th:replace="~{fragments/BaseModal::modal(class='modal-md')}"
      ></th:block>

      <th:block
        th:replace="~{fragments/ErrorModal::modal(class='modal-sm')}"
      ></th:block>
    </th:block>

    <div layout:fragment="content">
      <h1 class="text-center">Hello world</h1>
    </div>

    <th:block layout:fragment="pageBottom">
      <th:block th:replace="~{pages/landing/loginForm::script}"></th:block>
      <th:block th:replace="~{pages/landing/forgotPassword::script}"></th:block>
    </th:block>
  </body>
</html>
