<th:block th:fragment="script">
  <script>
    $("#buttonLogin").click(function (e) {
      e.preventDefault();
      $("#baseModalTitle").text("");
      $("#baseModalBody").html(`
  <div class="authentication-wrapper">
    <div class="authentication-inner">
      <div class="card">
        <div class="card-body">
          <div class="app-brand justify-content-center mb-2">
            <a href="index.html" class="app-brand-link gap-2">
              <img src="/assets/img/logo/HaloDog.png" alt="Logo" class="app-brand-logo demo" style="width: 50px; height: auto;">
              <span class="app-brand-text demo text-body fw-bolder">HaloDog</span>
            </a>
          </div>
          <p class="mb-4 text-center fs-4">Silahkan login</p>

          <form id="formAuthentication" class="mb-3" action="index.html" method="POST">
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="text" class="form-control" id="email" name="email" placeholder="Masukkan email" autofocus />
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" for="password">Password</label>
                <button class="btn" id="forgotPasswordButton">
                  <small>Lupa Password?</small>
                </button>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="••••••••" aria-describedby="password" />
                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="remember-me" />
                <label class="form-check-label" for="remember-me">Ingat saya</label>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Masuk</button>
            </div>
          </form>
          <p class="text-center">
            <span>Belum punya akun?</span>
            <a href="/register"><span>Buat akun</span></a>
          </p>
        </div>
      </div>
    </div>
  </div>
      
      `);
      $("#baseModal").modal("show");
    });
  </script>
</th:block>
