<div
  th:fragment="modal"
  class="modal modal-top fade"
  id="baseModal"
  tabindex="-1"
  th:attr="data-bs-backdrop=${modalBackdrop},
  data-bs-keyboard=${modalKeyboard}
  "
>
  <div class="modal-dialog modal-dialog-centered" th:classappend="${class}">
    <form class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="baseModalTitle">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="baseModalBody"></div>
      <div class="modal-footer" id="baseModalFooter"></div>
    </form>
  </div>
</div>
