<div id="addFormValidation">

</div>
<div class="mb-3">
    <label for="addBankName" class="form-label">Nama</label>
    <input type="text" class="form-control" id="addBankName" placeholder="Nama Bank" maxlength="100">
    <div class="mt-1"><span id="addNameValidation" style="color: #ff3e1d;"></span></div>
</div>
<div class="mb-1">
    <label for="addBankVA" class="form-label">Kode VA</label>
    <input type="number" class="form-control" id="addBankVA" placeholder="Kode VA" min="0" maxlength="10"
        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
    <div class="mt-1"><span id="addVaCodeValidation" style="color: #ff3e1d;"></span></div>
</div>