<form id="editPersonalDataForm">
    <div class="mb-3">
        <label for="fullname" class="form-label">Nama Lengkap*</label>
        <input type="text" class="form-control" id="fullname" placeholder="Nama Lengkap">
        <div id="fullNameError" class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
        <label for="dob" class="form-label">Tanggal Lahir*</label>
        <input type="date" class="form-control" id="dob" placeholder="Tanggal Lahir">
        <div id="dobError" class="invalid-feedback"></div>
    </div>
    <div class="mb-3">
        <label for="mobilePhone" class="form-label">Nomor Handphone*</label>
        <div class="input-group">
            <span class="input-group-text" id="countryCode">+62</span>
            <input type="text" class="form-control" id="mobilePhone" placeholder="8123456789">
            <div id="mobilePhoneError" class="invalid-feedback"></div>
        </div>
    </div>
</form>