<div id="oldPasswordForm" class="mb-3">
    <label for="oldPassword" class="form-label">Password*</label>
    <input type="password" class="form-control" id="oldPassword" placeholder="Masukkan Password Lama">
    <div id="oldPasswordError" class="invalid-feedback" style="display:none;"></div>
</div>
<div id="confirmOldPasswordForm" class="mb-3">
    <label for="confirmOldPassword" class="form-label">Masukkan ulang password*</label>
    <input type="password" class="form-control" id="confirmOldPassword" placeholder="Masukkan Konfirmasi Password Lama">
    <div id="confirmOldPasswordError" class="invalid-feedback" style="display:none;"></div>
</div>
