<div id="newPasswordForm" class="mb-3">
    <label for="newPassword" class="form-label">Password*</label>
    <input type="password" class="form-control" id="newPassword" placeholder="Masukkan Password Baru">
    <div id="newPasswordError" class="invalid-feedback" style="display:none;"></div>
</div>
<div id="newConfirmationPasswordForm" class="mb-3">
    <label for="confirmNewPassword" class="form-label">Masukkan ulang password*</label>
    <input type="password" class="form-control" id="confirmNewPassword" placeholder="Masukkan Konfirmasi Password Baru">
    <div id="confirmNewPasswordError" class="invalid-feedback" style="display:none;"></div>
</div>
