<form id="locationLevelForm">
    <div class="mb-3">
        <label for="locationLevelName" class="form-label">Nama</label>
        <input type="text" class="form-control" id="locationLevelName" placeholder="Nama Level Lokasi">
        <div id="locationLevelNameError" class="invalid-feedback" style="display:none;"></div>
    </div>
    <div class="mb-1s">
        <label for="locationLevelAbbreviation" class="form-label">Nama Singkat</label>
        <input type="text" class="form-control" id="locationLevelAbbreviation" placeholder="Nama Singkat">
        <div id="locationLevelAbbreviationError" class="invalid-feedback" style="display:none;"></div>
    </div>
</form>
