<div id="editFormValidation">

</div>
<div class="mb-4">
    <label for="editPatientName" class="form-label">Nama Lengkap <span style="color: #ff3e1d;">*</span></label>
    <input type="text" class="form-control" id="editPatientName" placeholder="Nama Lengkap">
    <div class="mt-1"><span id="editNameValidation" style="color: #ff3e1d;"></span></div>
</div>
<div class="mb-4">
    <label for="editPatientBirthday" class="form-label">Tanggal Lahir <span style="color: #ff3e1d;">*</span></label>
    <input type="date" class="form-control" id="editPatientBirthday">
    <div class="mt-1"><span id="editBirthdayValidation" style="color: #ff3e1d;"></span></div>
</div>
<div class="mb-4">
    <div class="row">
        <div class="col">
            <label for="editPatientGender" class="form-label">Jenis Kelamin <span style="color: #ff3e1d;">*</span></label>
        </div>
        <div class="col d-flex justify-content-evenly">
            <div>
                <input value="M" type="radio" name="editPatientGender" id="editPatientGenderMale">
                <label for="editPatientGenderMale" class="form-label">Pria</label>
            </div>
            <div>
                <input value="F" type="radio" name="editPatientGender" id="editPatientGenderFemale">
                <label for="editPatientGenderFemale" class="form-label">Wanita</label>
            </div>
        </div>
    </div>
    <div><span id="editGenderValidation" style="color: #ff3e1d;"></span></div>
</div>
<div class="mb-4">
    <div class="row">
        <label for="editPatientBlood" class="form-label">Golongan Darah/Rhesus</label>
        <div class="col">
            <select class="form-select" name="editPatientBlood" id="editPatientBlood">
                <option value="">Pilih Golongan Darah</option>
                <!-- <option value="A">A</option>
                <option value="B">B</option>
                <option value="O">O</option>
                <option value="AB">AB</option> -->
            </select>
        </div>
        <div class="col">
            <div class="col d-flex justify-content-evenly align-content-center">
                <div>
                    <input value="Rh+" type="radio" name="editPatientRhesus" id="editPatientRhesusPlus">
                    <label for="editPatientRhesusPlus" class="form-label">Rh+</label>
                </div>
                <div>
                    <input value="Rh-" type="radio" name="editPatientRhesus" id="editPatientRhesusMinus">
                    <label for="editPatientRhesusMinus" class="form-label">Rh-</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mb-4">
    <div class="row">
        <div class="col">
            <label for="editPatientHeight" class="form-label">Tinggi Badan</label>
            <input type="number" id="editPatientHeight" class="form-control" min="0" placeholder="Tinggi Badan">
        </div>
        <div class="col">
            <label for="editPatientWeight" class="form-label">Berat Badan</label>
            <input type="number" id="editPatientWeight" class="form-control" min="0" placeholder="Berat Badan">
        </div>
    </div>
</div>
<div class="mb-1">
    <label for="editPatientRelation" class="form-label">Relasi <span style="color: #ff3e1d;">*</span></label>
    <select class="form-select" name="editPatientRelation" id="editPatientRelation">
        <option value="">Pilih Relasi</option>
        <option value="Diri Sendiri">Diri Sendiri</option>
        <option value="Suami">Suami</option>
        <option value="Istri">Istri</option>
        <option value="Anak">Anak</option>
    </select>
    <div class="mt-1"><span id="editRelationValidation" style="color: #ff3e1d;"></span></div>
</div>