<table
  class="email-header"
  width="100%"
  cellpadding="0"
  cellspacing="0"
  role="presentation"
  style="background-color: #f4f4f4; padding: 10px 0"
>
  <tr>
    <td align="center" style="padding: 10px 0">
      <a
        href="https://halodog.com"
        style="display: inline-block; text-decoration: none"
      >
        <img
          src="https://res.cloudinary.com/da0hsihog/image/upload/f_auto,q_auto/v1/xsis-mini-project/ypvkt3cbvoypdbshwhsh"
          style="
            height: 60px;
            max-width: 100%;
            width: auto;
            border: 0;
            outline: none;
            text-decoration: none;
            display: block;
          "
          alt="HaloDog"
        />
      </a>
    </td>
  </tr>
</table>
