<!-- Modal Cek Ketersediaan Jadwal -->
<div class="modal fade" id="checkScheduleModal" tabindex="-1" aria-labelledby="checkScheduleModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="checkScheduleModalLabel">Cek Ketersediaan Jadwal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-center">
                <p>Mohon tunggu, kami sedang memeriksa ketersediaan jadwal...</p>
                <i class="bx bx-loader-alt bx-spin" style="font-size: 100px;"></i>
            </div>
        </div>
    </div>
</div>