<th:block th:fragment="pageAbove">
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/jquery-datetimepicker@2.5.20/build/jquery.datetimepicker.min.css">
  <style>
    .modal-dialog-centered {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .modal-content {
      width: 100%;
      max-width: 600px;
    }
  </style>


  <th:block th:replace="~{fragments/appointment/FormModal}"></th:block>
  <th:block th:replace="~{fragments/Appointment/CheckScheduleLoader}"></th:block>
  <th:block th:replace="~{fragments/Appointment/RetryModal}"></th:block>
  <th:block th:replace="~{fragments/Appointment/SuccessModal}"></th:block>
</th:block>

<th:block th:fragment="pageBottom">

  <script
    src="https://cdn.jsdelivr.net/npm/jquery-datetimepicker@2.5.20/build/jquery.datetimepicker.full.min.js"></script>
  <script>
    let costumerMembers;
    let doctorScheduleDataResponse;
    let globalSelectedFacilitySchedule;
    let doctorScheduleExceedDataResponse;
    let globalUniqueDays;
    let globalTimeSlots;

    function fetchCustomerMembers() {
      return new Promise((resolve, reject) => {
        $.ajax({
          type: "get",
          url: BE_BASE_URL + "/customer/members",
          contentType: "application/json",
          success: function (response) {
            costumerMembers = response.data;
            $("#consultationFor").html(
              `<option value="" disabled selected> -- Pilih -- </option>`
            );

            costumerMembers.customerMemberList.forEach((member) => {
              $("#consultationFor").append(`
                <option value="${member.customerId}">${member.fullname + ", " + member.customerRelationName}</option>
              `);
            });
            resolve();
          },
          error: reject
        });
      });
    }

    let medicalFacilities;

    function fetchMedicalFacilities(doctorId) {
      return new Promise((resolve, reject) => {
        $.ajax({
          type: "get",
          url: `${BE_BASE_URL}/patient/appointment/doctor-medical-facilities/${doctorId}`,
          contentType: "application/json",
          success: function (response) {
            medicalFacilities = response.data.medicalFacilities;
            $("#healthFacility").html(
              `<option value="" disabled selected> -- Pilih -- </option>`
            );

            medicalFacilities.forEach((mf) => {
              $("#healthFacility").append(`
                <option class="medical-facility-option-item" data-doctor-office-id="${mf.doctorOfficeId}" value="${mf.id}">${mf.name}</option>
              `);
            });
            $("#healthFacility").prop('disabled', false);
            resolve();
          },
          error: reject
        });
      });
    }

    function fetchScheduleData(doctorId) {
      return new Promise((resolve, reject) => {
        $.ajax({
          type: "get",
          url: `${BE_BASE_URL}/patient/appointment/doctor-office-schedule/${doctorId}`,
          contentType: "application/json",
          success: function (response) {
            doctorScheduleDataResponse = response.data;
            resolve();
          },
          error: reject
        });
      });
    }
    function fetchScheduleExceededData(doctorId) {
      return new Promise((resolve, reject) => {
        $.ajax({
          type: "get",
          url: `${BE_BASE_URL}/patient/appointment/exceeded-date/${doctorId}`,
          contentType: "application/json",
          success: function (response) {
            doctorScheduleExceedDataResponse = response.data;
            resolve();
          },
          error: reject
        });
      });
    }

    function renderHeader(doctorId) {
      return new Promise((resolve, reject) => {
        $.ajax({
          type: "get",
          url: `${BE_BASE_URL}/doctor/details/header/${doctorId}`,
          contentType: "application/json",
          success: function (response) {
            const data = response.data;
            $('#appoinmentModalHeaderContainer').html(`
             <h5 class="mb-1">${data.name}</h5>
            <p class="mb-1">Spesialisasi: ${data.specialization}</p>
            <p class="mb-0">Pengalaman: ${data.yearOfExperience} Tahun</p>
            `);
            resolve();
          },
          error: reject
        });
      })
    }

    function generateTimeSlots(scheduleData) {
      let allTimeSlots = [];
      const now = new Date();
      // simulation for dummy time
      now.setHours(7, 0, 0);

      const currentHour = now.getHours();
      const currentMinutes = now.getMinutes();

      for (let schedule of scheduleData) {
        let startTime = new Date(`2000-06-29T${schedule.timeScheduleStart}:00`);
        let endTime = new Date(`2000-06-29T${schedule.timeScheduleEnd}:00`);
        let timeSlots = [];


        while (startTime < endTime) {
          const slotHour = startTime.getHours();
          const slotMinutes = startTime.getMinutes();

          if (slotHour >= currentHour || (slotHour === currentHour && slotMinutes > currentMinutes)) {
            const formattedTime = startTime.toTimeString().slice(0, 5);
            timeSlots.push(formattedTime);
          }

          startTime = new Date(startTime.getTime() + 30 * 60000);
        }

        allTimeSlots = allTimeSlots.concat(timeSlots);
      }

      allTimeSlots.sort();
      return allTimeSlots;
    }

    function getDoctorOfficeScheduleIdByTime(scheduleList, time) {
      const targetTime = new Date(`2000-06-29T${time}:00`);

      for (const schedule of scheduleList) {
        const startTime = new Date(`2000-06-29T${schedule.timeScheduleStart}:00`);
        const endTime = new Date(`2000-06-29T${schedule.timeScheduleEnd}:00`);

        if (targetTime >= startTime && targetTime <= endTime) {
          return schedule.id;
        }
      }

      return null;
    }

    async function handleAppointmentButtonClick(doctorId, medicalFacilityId) {
      try {
        await renderHeader(doctorId);
        await fetchCustomerMembers();
        await fetchMedicalFacilities(doctorId);
        await fetchScheduleData(doctorId);
        await fetchScheduleExceededData(doctorId);

        $("#appointmentModal").modal("show");
        $('#appointmentDate').val("");
        $('#appointmentDate').prop("disabled", true);
        $('#appointmentTime').val("");
        $('#appointmentTime').prop("disabled", true);
        $('#medicalAction').prop("disabled", true);
        $('#consultationFor').val("");

        if (medicalFacilityId) {
          $("#healthFacility").val(medicalFacilityId).trigger('change');
          // disabled medical facility
          $('#healthFacility').prop("disabled", true);
        } else {
          $('#healthFacility').prop("disabled", false);
        }
      } catch (error) {
        console.error("Failed to fetch data:", error);
      }
    }

    $(document).on("click", ".appointment-button", function (e) {
      e.preventDefault();

      const button = $(this);
      const doctorId = button.data("doctor-id");
      const medicalFacilityId = button.data("medical-facility-id") || null;

      if (IS_USER_LOGGED) {
        handleAppointmentButtonClick(doctorId, medicalFacilityId);

      } else {
        $(".show-login-button").trigger("click");
      }
    });
    // when medical facility change
    $("#healthFacility").change(function (e) {
      e.preventDefault();
      const selectedFacilityId = parseInt($(this).val());
      const selectedFacility = medicalFacilities.find(
        (facility) => facility.id === selectedFacilityId
      );

      const facilityScheduleInput = $('#appointmentDate');
      facilityScheduleInput.prop('disabled', false);
      $('#appointmentTime').prop('disabled', true)

      const selectedFacilitySchedule = doctorScheduleDataResponse.filter(facility => facility.medicalFacilityId === selectedFacilityId);
      globalSelectedFacilitySchedule = selectedFacilitySchedule;

      const medicalActionDropdown = $("#medicalAction");
      medicalActionDropdown.html(
        '<option value="" disabled selected>-- Pilih Tindakan --</option>'
      );
      medicalActionDropdown.prop("disabled", false);

      if (selectedFacility) {
        // schedule
        const daysAvailable = selectedFacilitySchedule.map(schedule => schedule.day);
        const uniqueDays = [...new Set(daysAvailable)];
        globalUniqueDays = uniqueDays;

        const today = new Date();
        const threeWeeksFromNow = new Date(today.getFullYear(), today.getMonth(), today.getDate() + 21);
        $("#appointmentDate").datetimepicker({
          format: 'Y-m-d',
          minDate: today,
          maxDate: threeWeeksFromNow,
          value: null,
          timepicker: false,
          // autoclose: false,
          beforeShowDay: function (date) {
            const dayName = date.toLocaleDateString('en-US', { weekday: 'long' });
            return [uniqueDays.includes(dayName)];
          },
          onChangeDateTime: function (dp, $input) {
            const selectedDate = $input.val();
            const selectedDay = new Date(selectedDate).toLocaleDateString('en-US', { weekday: 'long' });

            let availableSlots = selectedFacilitySchedule.filter(schedule => schedule.day === selectedDay);
            // filter by exceeded slot
            availableSlots = availableSlots.filter(schedule => !doctorScheduleExceedDataResponse.some(dos => dos.doctorOfficeScheduleId == schedule.id && dos.appointmentDate == selectedDate));

            // if (availableSlots.length > 0) {
            //   // $('#appointmentDateTime').datetimepicker({
            //   //   format: 'Y-m-d H:i',
            //   //   allowTimes: generateTimeSlots(availableSlots),

            //   //   minDate: today,
            //   //   maxDate: threeWeeksFromNow,
            //   //   autoclose: false,
            //   //   value: null,
            //   //   beforeShowDay: function(date) {
            //   //       const dayName = date.toLocaleDateString('en-US', { weekday: 'long' });
            //   //       return [uniqueDays.includes(dayName)];
            //   //   },
            //   // });

            //   const timeSlots = generateTimeSlots(availableSlots);

            //   $('#appointmentDateTime').datetimepicker('setOptions', { allowTimes: timeSlots });
            // }

            if (availableSlots.length > 0) {
              const timeSlots = generateTimeSlots(availableSlots);
              globalTimeSlots = timeSlots;


              $('#appointmentTime').prop('disabled', false).datetimepicker({
                format: 'H:i',
                datepicker: false,
                allowTimes: timeSlots,
                onChangeDateTime: function (dp, $input) {
                  let inputTime = $input.val();

                  if (inputTime.slice(3) !== '00' && inputTime.slice(3) !== '30') {
                    $input.val(inputTime.slice(0, 3) + '00');
                  }
                }
              });

            } else {
              $('#appointmentTime').prop('disabled', true).empty();
            }
          }
        });

        // treatment
        selectedFacility.officeTreatments.forEach((treatment) => {
          medicalActionDropdown.append(
            `<option value="${treatment.id}">${treatment.treatmentName}</option>`
          );
        });
      }
    });

    function isDateInRange(dateStr, daysList) {
      const inputDate = new Date(dateStr);
      const today = new Date();

      const endDate = new Date(today);
      endDate.setDate(today.getDate() + 21);

      const dayNames = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

      if (isNaN(inputDate)) {
        return false;
      }

      for (let currentDate = new Date(today); currentDate <= endDate; currentDate.setDate(currentDate.getDate() + 1)) {
        const currentDayName = dayNames[currentDate.getDay()];

        if (daysList.includes(currentDayName) && inputDate.toDateString() === currentDate.toDateString()) {
          return true;
        }
      }
      return false;
    }

    $("#checkSchedule").click((e) => {
      e.preventDefault();
      // post create appointment request
      const errors = {};

      const customerId = $('#consultationFor').val();
      if (!customerId) {
        errors['#consultationForError'] = 'Silakan pilih konsultasi yang diinginkan.';
      }

      const doctorOfficeId = $('#healthFacility').find('option:selected').data('doctor-office-id');
      if (!doctorOfficeId) {
        errors['#medicalFacilityError'] = 'Faskes tidak boleh kosong.';
      }

      // const doctorOfficeTreatmentId = $('#medicalAction').val();
      // if (!doctorOfficeTreatmentId) {
      //   errors['#medicalActionError'] = 'Input tindakan medis tidak boleh kosong.';
      // }

      const appointmentDate = $('#appointmentDate').val();

      if (!appointmentDate) {
        errors['#appointmentDateError'] = 'Tangal kedatangan tidak boleh kosong.';
      } else if (!isDateInRange(appointmentDate, globalUniqueDays)) {
        errors['#appointmentDateError'] = 'Tangal diluar jadwal dokter';
      }

      let scheduleTime = $('#appointmentTime').val();
      if (!scheduleTime) {
        errors['#appointmentTimeError'] = 'Jam kedatangan tidak boleh kosong.';
      } else if (!globalTimeSlots.includes(scheduleTime)) {
        errors['#appointmentTimeError'] = 'Jam kedatangan diluar jadwal dokter.';
      }

      if (Object.keys(errors).length > 0) {
        for (const [selector, message] of Object.entries(errors)) {
          $(selector).text(message).show();

          setTimeout(() => {
            $(selector).hide();
          }, 3000);
        }
        return;
      }


      $("#checkScheduleModal").modal("show");
      const appointmentRequestData = {
        customerId,
        doctorOfficeId,
        doctorOfficeScheduleId: getDoctorOfficeScheduleIdByTime(globalSelectedFacilitySchedule, scheduleTime),
        doctorOfficeTreatmentId,
        appointmentDate,
      };

      // if success show success response
      $.ajax({
        type: "post",
        url: BE_BASE_URL +
          "/patient/appointment",
        data: JSON.stringify(appointmentRequestData),
        contentType: "application/json",
        success: function (response) {
          setTimeout(() => {
            $("#checkScheduleModal").modal("hide");
            $('#appointmentSuccessModal').modal('show');
          }, 1000);
        },
        error(jqXhr, textStatus) {
          setTimeout(() => {
            $("#checkScheduleModal").modal("hide");
            $('#retryCreateAppointmenModal').modal('show');
          }, 1000);
        },
      });

    });

    $('#selectAnotherSchedule').click(function (e) {
      e.preventDefault();
      $('#retryCreateAppointmenModal').modal('hide');
    });

    $('#cancelAppointment').click(function (e) {
      e.preventDefault();
      $('#retryCreateAppointmenModal').modal('hide');
      $("#appointmentModal").modal("hide");
    });
  </script>
</th:block>