<!-- Modal Buat Janji Dokter -->
<div
  class="modal fade"
  id="appointmentModal"
  tabindex="-1"
  aria-labelledby="appointmentModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  role="dialog"
>
  <div class="modal-dialog modal-dialog-centered mt-5" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appointmentModalLabel">
          Buat Janji Dokter
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="d-flex align-items-center mb-3">
          <img
            src="https://via.placeholder.com/100"
            class="rounded-circle me-3"
            alt="Foto Dokter"
            style="width: 100px; height: 100px; object-fit: cover"
          />
          <div id="appoinmentModalHeaderContainer">
            <!-- <h5 id="doctorName">Dr. John Doe</h5>
            <p id="doctorSpecialty">Spesialisasi: Dermatologi</p>
            <p id="doctorExperience">Pengalaman: 4 Tahun</p> -->
          </div>
        </div>

        <form id="appointmentForm">
          <div class="mb-3" id="consultationForInput">
            <label for="consultationFor" class="form-label"
              >Konsultasi untuk *</label
            >
            <select id="consultationFor" class="form-select"></select>
          </div>

          <div class="mb-3">
            <label for="healthFacility" class="form-label"
              >Pilih Fasilitas Kesehatan *</label
            >
            <select id="healthFacility" class="form-select"></select>
          </div>

          <div class="mb-0">
            <label class="form-label">Pilih Waktu Kedatangan</label>
          </div>

          <div class="mb-3 row">
            <!-- <div class="col" style="position: relative">
              <label for="appointmentDate" class="form-label">Tanggal *</label>
              <input type="text" class="form-control" id="appointmentDate" />
            </div> -->
            <!-- <div class="col">
              <label for="appointmentTime" class="form-label">Waktu *</label>
              <select class="form-control" id="appointmentTime" disabled>
                <option value="" disabled selected>-- Pilih Waktu --</option>
              </select>
            </div> -->

            <!-- <div class="col">
              <label for="appointmentTime" class="form-label">Waktu *</label>
              <input
                type="time"
                class="form-control"
                id="appointmentTime"
                disabled
              /> -->
            <!-- </div> -->

            <div class="col">
              <label for="appointmentDate" class="form-label">Tanggal *</label>
              <input
                type="text"
                class="form-control"
                id="appointmentDate"
                placeholder="Pilih Tanggal"
                disabled
              />
            </div>
            <div class="col">
              <label for="appointmentTime" class="form-label">Waktu *</label>
              <input
                type="text"
                class="form-control"
                id="appointmentTime"
                placeholder="Pilih Waktu"
                disabled
              />
            </div>
          </div>

          <div class="mb-3">
            <label for="medicalAction" class="form-label"
              >Tindakan Medis *</label
            >
            <select id="medicalAction" class="form-select" disabled>
              <option value="" disabled selected>-- Pilih Tindakan --</option>
            </select>
          </div>

          <div class="d-flex justify-content-end">
            <button
              type="button"
              class="btn btn-secondary me-2"
              data-bs-dismiss="modal"
            >
              Batal
            </button>
            <button type="submit" class="btn btn-primary" id="checkSchedule">
              Buat Janji
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
