<div class="modal fade" id="retryCreateAppointmenModal" tabindex="-1" aria-labelledby="retryCreateAppointmenModalLabel"
    aria-hidden="true" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="retryCreateAppointmenModalLabel">Cek Ketersediaan Jadwal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Mohon maaf, waktu kedatangan yang Anda pilih sudah terisi penuh. Silahkan pilih waktu kedatangan atau
                    fasilitas kesehatan lain.</p>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary me-2 w-100" id="cancelAppointment">Batal</button>
                <button type="button" class="btn btn-primary w-100" id="selectAnotherSchedule">Pilih Jadwal
                    Lain</button>
            </div>
        </div>
    </div>
</div>