<div class="modal fade" id="appointmentSuccessModal" tabindex="-1" aria-labelledby="appointmentSuccessModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="appointmentSuccessModalLabel">Janji berhasil dibuat</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Rencana kedatangan Anda sudah tersimpan. Anda dapat mengubah atau membatalkan janji Anda di <a
                        href="/rencana-kedatangan" class="text-bold">Rencana Kedatangan</a></p>
            </div>
        </div>
    </div>
</div>