<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
  </head>
  <body>
    <th:block layout:fragment="pageAbove">
      <script>
        console.log("js/css at head");
      </script>
    </th:block>

    <div layout:fragment="content" class="container mt-5">
      <div class="row row-cols-1 row-cols-md-3 g-4" id="menuContainer">
        
        <!-- Add more cards as needed -->
      </div>
    </div>

    <th:block layout:fragment="pageBottom">
      <script src="js/home.js"></script>
    </th:block>
    
  </body>
</html>
