<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/main-without-search}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Beranda | Obat & Alat Kesehatan</title>
</head>

<body>
    <div layout:fragment="content">

        <th:block th:replace="~{fragments/BaseModal::modal(class='modal-dialog-centered')}"></th:block>
        <div class="container mt-4">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="w-75" id="searchResultText"></h5>
                <button class="btn btn-outline-primary" onclick="showSearchModal()">Ulangi Pencarian</button>
            </div>

            <div class="row row-cols-1 row-cols-md-2 g-3" id="medicalItemCards">

            </div>

            <div class="d-flex justify-content-between align-items-center mt-4" id="medicalItemPagination">

            </div>
        </div>


    </div>
    <th:block layout:fragment="pageBottom">
        <script th:src="@{/js/medicalItem.js}"></script>
        <script th:src="@{/js/medicalItemSearch.js}"></script>
    </th:block>
</body>

</html>